@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl300/MuseoSansCyrl300.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl300/MuseoSansCyrl300.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl300/MuseoSansCyrl300.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl300/MuseoSansCyrl300.svg#MuseoSanaCyrl300') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl500/MuseoSansCyrl500.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl500/MuseoSansCyrl500.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl500/MuseoSansCyrl500.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl500/MuseoSansCyrl500.svg#MuseoSanaCyrl500') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl700/MuseoSansCyrl700.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl700/MuseoSansCyrl700.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl700/MuseoSansCyrl700.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl/MuseoSansCyrl700/MuseoSansCyrl700.svg#MuseoSanaCyrl700') format('svg');
	font-style: normal;
	font-weight: 700;
}